:root {
    --font-clr: #222222;
    --primary-clr: #3BA99C;
    --input-clr: #969696;
    --input-success: rgb(124, 243, 124);
    --input-error: rgb(244, 63, 63);
    --input-error-field: rgb(244, 63, 63, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: stretch;
}

.cover {
    flex: 1;
    background: url("../assets/images/background.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--primary-clr);
    opacity: 85%;
    z-index: 1;
}

.cover-items {
    position: relative;
    z-index: 2;
}

.title {
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.cover-items {
    text-align: center;
}

.underline-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.underline-wrapper>div:nth-child(1) {
    height: 10px;
    aspect-ratio: 6 / 1;
    border-radius: 100px;
    background: white;
}

.underline-wrapper>div:nth-child(2),
.underline-wrapper>div:nth-child(3) {
    height: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    background: white;
}

.content h1 {
    font-size: 3rem;
    font-family: 'Montserrat';
    color: var(--font-clr);
}

.content h1 span {
    font-family: 'Montserrat';
}

.circle::after {
    content: '';
    background-image: url("../assets/images/scribble.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(200%, 140%);
    opacity: .4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.circle {
    position: relative;
}

form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.form-row+.form-row {
    margin-top: 40px;
}

.form-field {
    flex: 1;
}

.form-field input {
    border: none;
    border-bottom: 1px solid var(--input-clr);
    font-size: 1.2rem;
    outline: none;
    padding-bottom: 10px;
    color: var(--font-clr);
}

.form-field input::placeholder {
    color: var(--input-clr);
    opacity: .5;
}

label {
    color: var(--input-clr);
    margin-bottom: 10px;
}

.form-field * {
    width: 100%;
}

label {
    display: block;
}

form button[type="submit"] {
    margin-top: 60px;
    margin-inline: auto;
    width: 250px;
    font-size: 1.2rem;
    background: var(--primary-clr);
    font-family: 'Bree Serif';
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease;
}

form button[type="submit"]:hover {
    transform: scale(1.1);
}

form small {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 200;
    color: var(--input-clr);
    margin-top: 20px;
    font-size: .9rem;
}

form small a {
    text-decoration: none;
    font-weight: 400;
}

.log-in-link {
    color: var(--primary-clr);
}


/* Input Validations */
label:has(+input:valid) {
    color: var(--primary-clr);
}

label:has(+input:focus:invalid) {
    color: var(--input-error);
}

label:has(+input:not([type="password"]):not(:placeholder-shown):invalid) {
    color: var(--input-error);
}

input:not([type="password"]):not(:placeholder-shown):invalid {
    background: var(--input-error-field);
}